{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 0.25%"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "syntax-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "env": {
    "cover": {
      "plugins": ["istanbul"]
    }
  }
}
